####  Базы, подающиеся на вход, названы по строкам. Например:
* Для первой страны базы названы от 1 до 15,
* Для второй - от 16 до 30
* И т.д.

#### Итоговая база имеет вид:
* Каждая строка - средняя частота по все словам для определенной страны.

In [1]:
import pandas as pd

In [2]:
def first_names_of_databases(first_number, databases_number):
    a = list(map(str, range(first_number, databases_number)))
    a1 = ['multiTimeline' + ' ' + '(' + a[i] + ')' for i in range(len(a))]
    return (a1)

In [3]:
def get_mean_from_all_csv_databases(database_names):
    general_mean_list = []
    for i in database_names:
        adr = i + ".csv"
        data = pd.read_csv(adr)
        false_numeric_values = list(data.iloc[:, 0].values)[1:]
        numeric_values = list(map(int, false_numeric_values))
        if sum(numeric_values) == 0:
            general_mean_list.append(0)
        else:
            mean = sum(numeric_values)/len(numeric_values)
            general_mean_list.append(mean)
    return(general_mean_list)

In [4]:
# seq - mean (результат фунции - get_mean_from_all_csv_databases)
# num - количество стран
def chunkIt(seq, num):
    avg = len(seq) / float(num)
    out = []
    last = 0.0

    while last < len(seq):
        out.append(seq[int(last):int(last + avg)])
        last += avg

    return out

In [5]:
a = first_names_of_databases(1, 16)

In [6]:
a[:3]

['multiTimeline (1)', 'multiTimeline (2)', 'multiTimeline (3)']

In [26]:
mean = get_mean_from_all_csv_databases(a)

In [27]:
result_dat = pd.DataFrame(chunkIt(mean, 1))

In [28]:
result_dat

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,80.365385,24.076923,0,20.403846,15.134615,76.346154,0,12.961538,0,20.134615,19.326923,42.384615,24.730769,0,39.019231

In [29]:
result_dat.to_excel('турецкий_все.xlsx')

In [11]:
# df = pd.concat([result_dat0.reset_index(drop=True),result_dat.reset_index(drop=True)], axis=0)

In [30]:
df_mean_of_mean = pd.DataFrame(list(result_dat.mean(axis=1).values))

In [31]:
df_mean_of_mean

           0
0  24.992308

In [32]:
df_mean_of_mean.to_excel('турецкий_среднее_для_каждой_страны.xlsx')

In [18]:
# df.to_excel('все_арабский.xlsx')